.container {
    background-color: #070753;
    width: 50%;
    margin: 3rem auto 2rem;
    border: 2px solid #04b0ee;
    border-radius: 10px;
    padding: 2rem;
}
.pokemoncard {
    border: 1px solid #04b0ee;
    border-radius: 10px;
    padding: 1rem;
}
.variants {
    display: "flex";
}
.icon:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0;
    }
    .variants {
        padding: 1rem;      
    }
    .pokemoncard {
        margin: 1rem
    }
}